{{ if .Site.Params.contact.enable }}
{{ "<!-- Start Contact Us -->" | safeHTML }}
<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Params.contact.topTitle }}<h4>{{.}}</h4>{{ end }}
                    {{ with .Site.Params.contact.title }}
                    <h2>{{.}}</h2>
                    <span class="border"></span>
                    {{ end }}
                    {{ with .Site.Params.contact.subtitle }}<p>{{.}}</p>{{ end }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3">
            
            </div>
            {{ "<!-- Contact Form -->" | safeHTML }}
            <div class="contact-form col-12 col-lg-6 ">
                
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                <script>
                hbspt.forms.create({
                    portalId: "7344741",
                    formId: "6c14dc7e-3400-42cb-9db2-f3f3970b67db"
                });
                </script>
                <!--
                <form id="my-form" action="https://formspree.io/mgeveryy" method="POST" role="form">
                    <div class="form-group">
                        <input type="text" required="true" placeholder="Name / Firmenname" class="form-control" name="name" id="name">
                    </div>

                    <div class="form-group">
                        <input type="email" required="true" placeholder="E-Mail" class="form-control" name="email" id="email">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Betreff" class="form-control" name="subject" id="subject">
                        <input type="hidden" name="channel" value="PM_main">
                        <input type="text" name="_gotcha" style="display:none" />
                    </div>

                    <div class="form-group">
                        <textarea rows="6" required="true" placeholder="Ihre Nachricht" class="form-control" name="message" id="message"></textarea>
                    </div>

                     <div class="form-group row">
                        <label class="form-check-label ml-3">
                          <input class="form-check-input" name="optin" required type="checkbox">
                          <p class="smaller">&nbsp;Ich stimme der Datenverarbeitung und - Speicherung durch Sebastian Benderoth zu.</p>
                        </label>
                      </div>
                      <div class="form-group row">
                        <label class="form-check-label ml-3">
                          <input class="form-check-input" name="newsletter" type="checkbox">
                          <p class="smaller">&nbsp;Ich möchte in Zukunft gerne über Neuigkeiten via E-Mail informiert werden.</p>
                        </label>
                      </div>

                    <div id="cf-submit" style="align-content: center">
                        <button type="submit" id="my-form-button" class="btn btn-main" style="min-width: 100%; text-align: center;">Senden</button>
                    </div>
                    <h5 id="my-form-status" style="text-align: center; margin-top: 15px; color: #000;"></h5>
                </form>
                -->
            </div>
            <div class="col-12 col-lg-3">
            
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="address-block contact-meta-block">
                    <i class="tf-ion-android-pin"></i>
                    <h4>Adresse</h4>
                    {{ with .Site.Params.contact.address }}<p class="unjustify-center">{{ . | safeHTML }}</p>{{ end }}
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="phone-block contact-meta-block">
                    <i class="tf-ion-ios-telephone"></i>
                    <h4>Telefon</h4>
                    <p class="unjustify-center">
                         {{ with .Site.Params.contact.phone }}Mobil: {{.}} {{ end }} 
                        <br> {{ with .Site.Params.contact.fax }} Fax: {{ . }} {{ end }}
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="phone-block contact-meta-block">
                    <i class="tf-ion-ios-email"></i>
                    <h4>Newsletter</h4>
                    <p class="unjustify-center">
                        <a href="{{ .Site.Params.newsletterURL | absURL }}">Updates abonnieren</a>
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="social-icons-block contact-meta-block">
                    <i class="tf-ion-ios-contact"></i>
                    <h4>Netzwerken</h4>
                    <ul class="list-inline social-icon text-center" style="margin: 0">
                        {{ with .Site.Params.contact.facebook }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-facebook"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.twitter }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-twitter"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.linkedin }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-linkedin"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.mail }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-email"></i>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}