{{ "<!-- Footer Start -->" | safeHTML }}
<footer id="footer" class="bg-one">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>{{ .Site.Params.footerAboutTitle }}</h3>
                    {{ with .Site.Params.footerDescription }}<p>{{ . }}</p>{{ end }}
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>{{ .Site.Params.footerServiceTitle }}</h3>
                    <ul>
                        {{ range .Site.Menus.service }}
                        <li>
                            <a href="{{ .URL | absLangURL }}">{{ i18n .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>{{ .Site.Params.footerQuicklinkTitle }}</h3>
                    <ul>
                        {{ range .Site.Menus.quicklink }}
                        <li>
                            <a href="{{ .URL | absLangURL }}">{{ i18n .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>{{ .Site.Params.footerMoreTitle }}</h3>
                    <ul> 
                        <li>
                            <a href="https://www.conceptmonkey.de">conceptMonkey.de</a>
                        </li>
                         <li>
                            <a href="https://webdesign.conceptmonkey.de">Web Development</a>
                        </li>
                        <li>
                            <a href="https://www.sebastian-benderoth.de">Sebastian Benderoth</a>
                        </li>
                        <li>
                            <a href="https://www.bogi.work">BOGI - Battle Of Glorious Ideas</a>
                        </li>
                    </ul>
                    <!-- 
                    <form class="subscribe-form">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-main-sm">Subscribe Now</button>
                    </form> 
                    -->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <h5>&copy; {{ now.Format "2006" }} by conceptMonkey | Sebastian Benderoth - All rights reserved.</h5>
        <h6>For more information visit 
            <a href="https://www.conceptmonkey.de" target="_blank">conceptMonkey.de</a>
        </h6>
    </div>
</footer>
{{ "<!-- end footer -->" | safeHTML }}


{{ "<!-- Essential Scripts -->" | safeHTML }}

{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "plugins/jquery/dist/jquery.min.js" | absURL }}"></script>
{{ "<!-- Bootstrap -->" | safeHTML }}
<script src="{{ "plugins/bootstrap/dist/js/popper.min.js" | absURL }}"></script>
<script src="{{ "plugins/bootstrap/dist/js/bootstrap.min.js" | absURL }}"></script>
{{ "<!-- Parallax -->" | safeHTML }}
<script src="{{ "plugins/parallax/jquery.parallax-1.1.3.js" | absURL }}"></script>
{{ "<!-- lightbox -->" | safeHTML }}
<script src="{{ "plugins/lightbox2/dist/js/lightbox.min.js" | absURL }}"></script>
{{ "<!-- Slick Carousel -->" | safeHTML }}
<script src="{{ "plugins/slick-carousel/slick/slick.min.js" | absURL }}"></script>
{{ "<!-- Portfolio Filtering -->" | safeHTML }}
<script src="{{ "plugins/filterzr/jquery.filterizr.min.js" | absURL }}"></script>
{{ "<!-- Smooth Scroll js -->" | safeHTML }}
<script src="{{ "plugins/smooth-scroll/dist/js/smooth-scroll.min.js" | absURL }}"></script>
<script>
   if(document.getElementById("my-form")){ 
      window.addEventListener("DOMContentLoaded", function() {

        // get the form elements defined in your form HTML above  
        var form = document.getElementById("my-form");
        var button = document.getElementById("my-form-button");
        var status = document.getElementById("my-form-status");

        // Success and Error functions for after the form is submitted    
        function success() {
          form.reset();
          button.style = "display: none ";
          status.innerHTML = "Vielen Dank für Ihre Nachricht!";
        }

        function error() {
          status.innerHTML = "Oops! Da ist etwas schiefgelaufen.";
        }

        // handle the form submission event
        form.addEventListener("submit", function(ev) {
          ev.preventDefault();

          button.innerHTML="Sende...";
          var data = new FormData(form);
          ajax(form.method, form.action, data, success, error);
          
        });
      });
  }
  
  // helper function for sending an AJAX request
  function ajax(method, url, data, success, error) {
    var xhr = new XMLHttpRequest();
    xhr.open(method, url);
    xhr.setRequestHeader("Accept", "application/json");
    xhr.onreadystatechange = function() {
      if (xhr.readyState !== XMLHttpRequest.DONE) return;
      if (xhr.status === 200) {
        success(xhr.response, xhr.responseType);
      } else {
        error(xhr.status, xhr.response, xhr.responseType);
      }
    };
    xhr.send(data);
  }
</script>


{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
