{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.pricing }}
    {{ if .enable }}
    {{ "<!-- Start Pricing section -->" | safeHTML }}
    <section class="pricing-table section" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title text-center">
                        {{ with .topTitle }}<h4>{{.}}</h4>{{ end }}
                        {{ with .title }}
                        <h2>{{.}}</h2>
                        <span class="border"></span>
                        {{ end }}
                        {{ with .subtitle }}<p>{{.}}</p>{{ end }}
                    </div>
                </div>
            </div>
            <div class="row">
                {{ range .item }}
                {{ "<!-- single pricing table -->" | safeHTML }}
                <div class="col-lg-4 col-md-6 mb-3">
                    <div class="pricing-item card h-100">
                        {{ "<!-- plan name & value -->" | safeHTML }}
                    <div class="card-body">
                        <div class="price-title card-header bg-pricing">
                            {{ with .name }}<h6>{{.}}</h6>{{ end }}
                            {{ with .price }}<strong class="value">{{.}}</strong>{{ end }}
                            {{ with .description }}<p class="unjustify-center">{{.}}</p>{{ end }}
                        </div>
                        {{ "<!-- plan description -->" | safeHTML }}
                        <ul class="text-left unlist" >
                            {{ range .featurelist }}
                            <li class=" pl-3 smaller">{{.item}}</li>
                            {{ end }}
                        </ul>
                        <div class="card-footer" style="background: #f9f9f9">
                            {{ "<!-- signup button -->" | safeHTML }}
                            <a class="btn btn-main" href="{{.btnURL}}">{{.btnText | safeHTML }}</a>
                        </div>
                    </div>
                    
                    </div>
                </div>
                {{ end }}
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
    </section>
    {{ "<!-- End section -->" | safeHTML }}
    {{ end }}
{{ end }}
