{{ define "main" }}

<section class="page-404 text-center d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/images/conceptMonkey_icon.png" />
        <h1>404</h1>
        <h2>Seite nicht gefunden | Page Not Found</h2>
        <p>Es tut uns leid, aber die angeforderte Seite scheint nicht zu existieren.</p>
        <p>Sorry, but the page you were trying to view does not exist.</p>
        <a href="{{ .Site.BaseURL }}" class="btn btn-main mt-20">Zur&uuml;ck | Back</a>
      </div>
    </div>
  </div>
</section>
	
{{ end }}
