{{ define "main" }}

<section class="blog-single section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>{{ .Title }}</h2>
                <div class="post-meta mb-5">
                    <ul class="list-inline" style="font-size: 9px;">
                        <li class="list-inline-item">
                            <span>( &copy; </span>
                            {{ .Params.author }}
                        </li>
                        <li class="list-inline-item">
                            <span> | Update: </span>
                            <span>{{ .Date.Format .Site.Params.dateFormat }} )</span>
                        </li>
                    </ul>
                </div>
                <div class="legal-content">
                {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}